.background-primary {
  background-color: #202124;
}

.background-secondary {
  background-color: #28323c;
}

.keyword {
  color: #ff5c00;
}

.string {
  color: #009f49;
}

.method {
  color: #ffc700;
}
