.background-primary {
  background-color: #2c3e4a;
}

.background-secondary {
  background-color: #314c5f;
}

.keyword {
  color: #ff5c00;
}

.string {
  color: #009f49;
}

.method {
  color: #ffc700;
}
